<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<!-- Target dla ostrzeżeń -->
		<target xsi:type="File" name="warnFile"
		        fileName="${basedir}/logs/warn_${shortdate}_${date:format=HH-mm}.txt"
		        layout="${longdate} ${uppercase:${level}} ${message}" />

		<!-- Target dla błędów -->
		<target xsi:type="File" name="errorFile"
		        fileName="${basedir}/logs/error_${shortdate}_${date:format=HH-mm}.txt"
		        layout="${longdate} ${uppercase:${level}} ${message}" />
	</targets>

	<rules>
		<!-- Reguła dla ostrzeżeń -->
		<logger name="*" minlevel="Warn" maxlevel="Warn" writeTo="warnFile" />

		<!-- Reguła dla błędów -->
		<logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="errorFile" />
	</rules>
</nlog>